.main{
    background-color: blanchedalmond;
    width: 30%;
    padding: 200px 89px;
    box-shadow: 5px 0px 20px chocolate;
    
}
.btn{
    background-color: navajowhite;
    border-radius: 10px;
    padding: 10px 10px;
   border: none;
   box-shadow: 2px 0px 10px chocolate

    /* text-decoration: none; */
}
.lnk{
    text-decoration: none;
}